@import '../../../../style/color.less';
@import '../../../../style/layout.less';

.container {
    .regular-family;
    outline: none;
    border: 1px solid @regular-text-color;
    background-color: transparent;
    border-radius: .5rem;
    padding: .4rem;
    cursor: pointer;
    color: @regular-text-color;
    transition-property: font-color, border-color;
    transition: .2s ease;

    &:disabled {
        border-color: @hide-text-color;
        color: @hide-text-color;
    }

    &:hover:enabled {
        border-color: @normal-color;
        color: @normal-color;
    }
}