@icon-color: #00a8f7;
@base-text-color: #232323;
@regular-text-color: #525252;
@hide-text-color: #B7BAC1;
@border-color: #DDE3EE;

@normal-color: #37ad4b;
@alarm-color: #e03c30;
@warning-color: rgb(255, 196, 0);

@active-text-color: rgb(226, 226, 226);

@test: #1158c9;
@navbar-icon-color: #007bb4;